/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles
2.  Layout
3.  Special Templates
4.  Site Header
  4.1 Home header
  4.2 Archive header
5.  Site Navigation
6.  Post Feed
7.  Single Post
  7.1. Post Byline
  7.2. Members Subscribe Form
  7.3. Comments
  7.4. Related Posts
  7.5. Koenig Styles
8.  Author Template
9.  Error Template
10. Subscribe Overlay
11. Site Footer
12. Dark Mode

*/


/* 1. Global - Set up the things
/* ---------------------------------------------------------- */
@import "global.css";
@import "footer.css";
@import "dark-mode.css";
@import "site-header.css";
@import "home-header.css";
@import "archive-header.css";
@import "site-navigation.css";
@import "post-feed.css";
@import "single-post.css";
@import "post-byline.css";
@import "subscribe-form.css";
@import "subscribe-overlay.css";
@import "comments.css";
@import "author.css";
@import "koenig.css";
@import "errors.css";
@import "read-next.css";
@import "special-templates.css";
@import "layouts.css";

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}
